* { 

  box-sizing: border-box; 

  padding: 0; 

  margin: 0; 

} 

 

body { 

  font-family: Arial, Helvetica, sans-serif; 

  font-size: 16px; 
  line-height: 1.5;
  font-weight: normal;

  color: #333333; 

  background-color: #A5A9B0; 

} 

header { 

  width: 100%; 

  background-color: #B3C3D0; 

  padding-bottom: 30px;
  
  margin: 0;

  border-bottom: 3px solid #333333;
}



.sub-header {
 font-style: italic;
 font-size: 80%;
}


 

.header-logo { 

  font-family: Georgia, 'Times New Roman', Times, serif; 

  font-size: 160%; 

  text-transform: none; 

  letter-spacing: 0.2em; 

  text-align: center; 

  color: #333333; 

  line-height: 30px; 

  margin-bottom: 20px; 

  margin-top: 20px;

  padding-top: 20px;

} 


.content { 

  width:960px; 
  
  max-width: 100%;

  margin: auto; 

  margin-top: -20px;

  background: white; 

  padding: 0px; 

  padding-top: 0;

  box-shadow: 0 3px 10px; 
  
  box-sizing:border-box;
  
  min-height: 100%;
  
  position: relative;

} 

/*NAV/Logo-Subheading*/


.sub-header { 

  font-family: Georgia, 'Times New Roman', Times, serif; 

  font-size: 60%; 

  text-transform: none; 

  letter-spacing: 1px; 

  font-style: italic;

  text-align: center; 

  color: #333333; 

  margin-top: 0;
}

/* Nav Bar */ 

ul { 

  font: 14px Georgia, Times, serif; 
  text-align: center; 
  letter-spacing: 0.1em; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
} 


li {  

  display: inline; /* centers nav bar*/
} 

li.cousework-list {

  display: block;
  list-style-type: none;

 }


.topnav a { 

float: block; 

text-align: center; 

text-decoration: none; 

 margin-top: 0px; 

 background-color: none;

 padding: 30px;
 
 overflow: hidden;

} 

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 660px) {
 
  .topnav a {

    display: block;
    width: 100%;
    background-color: none;
    margin: 0px;
    padding: 10px

  }

  .flex-container-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    margin:auto; 
    max-width: 100%;
    max-height: 80%;
    padding: 0;
    } 

    .section {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      border-color: none;
      border: none;
      font-size: 90%;
      max-width: 100%;
    }
    
    main { 

      display: flex;
      flex-wrap: wrap;
      flex-direction:column;
      max-width: 100%;
  
    
    } 
    .flex-container-left { 
      display: flex;
      flex-wrap: wrap;


      /* About Page*/
  
    } 
    .index-image {
     min-width:100%;
     margin: auto;
    
    }
     
    .polaroid {
      min-width:100%;
     margin: auto;
    }
}

 


/* unvisited link */ 

a:link { 

  color: black;

} 

 

/* visited link */ 

a:visited { 

  color: #333333; 

  font-weight: bolder; 

} 

 

/* mouse over link */ 

a:hover { 

  color: #ffffff; 
  text-decoration:underline;

} 

 

/* selected link */ 

a:active { 

  font-weight: bolder; 
  
  color:black;

 

} 

.active {
  
  font-weight: bold;

  }
 

.footer { 

  position: absolute; 

  bottom: 0; 

  width: 100%; 

  background-color: #B3C3D0; 

  max-height: 100%; 
  max-width: 960px; 

  box-sizing: border-box;
  height: 60px; 
  border-top: 1px solid #333333;
  margin-top: 30 px;
 

} 

.footer-text {

  font-size: 80%; 
  color: gray; 
  text-align: center;
  margin-top: 30px;
}




 
img.floral-border {

  max-width:100%;

  margin-top: 0px;

}
 
.index-image {
  max-width: 100%;
  padding: 20px;

}

/*index paage-parent*/

main { 

  display: flex;

  padding: 32px; 

} 

.flex-container-left { 

  display:flex; 

  flex-wrap: wrap;
   margin:50px; 
  margin-top:10px;
  max-width: 100%;
  border-color: #000; 

} 

.flex-container > div { 

  background-color: none; 

} 

 

.flex-container-right { 
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin:0 10px 10px 10px; 
  max-width: 100%;
  } 

 
 
 
.section {
  border:none;
  width:350px;
  max-width: 100%;
  margin:auto;
  padding: 5px;
  
  
 }


 
 

.container { 

  font-family: arial; 

  font-size: 24px; 

  margin: 25px; 

  width: 100%; 

  height: 370px; 

  outline: none; 

  outline-offset: 15px; 

  position: absolute; 

} 

 

figure img { 

  position: relative; 

  width: 100%; 

  height: 150px; 
} 

 

.text { 

  font-size: 20px; 

  padding-left: 20px; 

} 

 

.resume { 

  font: 14px Georgia, Times, serif; 

  letter-spacing: 0.1em; 

} 

 

 /* Resume Page container */

 .resume-container1 {  
  display: flex;
  flex-wrap: wrap;
}



.solid-line { 

  border: 1px solid #333333; 

} 

.resume-container2 {    

  flex: 70%; 

  background-color: white; 

  padding: 20px; 

} 

/* This is on the About Page*/



.subhead1 {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-weight: 600;
  font-size: 130%;
  color: #333333; 
  }

  /*subheading on contcat page*/
  
.subhead2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 300;
    font-size: 115%;
    color: #333333; 

    }

/*port page*/
.subhead {

font-family: Georgia, 'Times New Roman', Times, serif; 
font:100%;
color: #333333; 
font-weight: 600;
}


.polaroid {
  background-color: #fff;
  padding: 1rem 1rem 4rem;
  box-shadow: 5px 8px 6px 3px #888888;
}

.img-polaroid {
 width:225px;
 max-width: 100%;
 margin: auto;
}

figcaption {
  color: #000;
  text-align: center;
}


.resume-side1 { 

  flex: 30%; 
  background-color: none; 
  padding: 20px; 
  
  }


 /*Portfolio Page*/

 .resume-container-port {  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.resume-container-port2 {    

  flex: 70%; 
  width: 100%;
  background-color: white; 
  padding: 20px; 
  overflow: hidden;
  max-width: 500px;

} 

list-style-type: none; /* Remove bullets */
padding: 0; /* Remove padding */
margin: 0; /* Remove margins */



p.li {
  display:block;
}


textarea {
  height: 150px;
  resize: vertical;
}


.contact-container2 {    

  flex: 70%; 
  background-color: white; 
  padding: 20px; 
  max-width: 500px;

} 

.form-containter {

max-width:75%;

 }


 /* labels for contact page*/
 
 
 label {
    padding:5px;
    margin-top: 10px;
    margin-bottom: 1.5em;

 }

.form-input {
  border: 1.5px solid #999;
  font-size: 14px;
  font-weight: 600;
  margin: 1.5em;
  width: 100%;
  border-radius:4px;
  margin-top: 5px;
  padding: 0;
  margin-bottom: 1.5em;
  }
  



  
  .form-input-message {
    border: 1.5px solid #999;
    font-size: 14px;
    font-weight:normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;
    padding: 1em;
    margin: 1em;
    width: 100%;
    border-radius:4px;
    border-color:#999;
    
    }
  
  .form-input:focus {
   outline: none;
   border: 2px solid #261f17;
  
  }
  
  .error {
    border-color: #c62828;
  
  }
  
  .error-message {
    margin: -1em 0 1.5em;
    margin-bottom: 0.5em;
    color: #c62828;
    font-size: 80%;
    font-weight: normal;
    font-style: normal;
  
  }



  /* style for submit button*/
  
  [type="submit"] {
  background: #B3C3D0;
  color: #000;
  width: 50%;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  margin: auto auto;
  max-width: 100px;
  
  }
  
  
  /*Style when hovering over*/
  
  [ type="submit" ]:hover,
  [ type="submit" ]:focus {
    background: #999;
    max-width: 100px;


    textarea {
      height: 150px;
      resize:vertical;
    }


 