* { 

  box-sizing: border-box; 

  padding: 0; 

  margin: 0; 

} 

 

body { 

  font-family: Arial, Helvetica, sans-serif; 

  font: normal 16px/1.5 Arial, sans-serif; 

  color: #333333; 

  background-color: #A5A9B0; 

} 

 

.content { 

  max-width:960px; 

  margin: auto; 

  margin-top: -20px;

  background: white; 

  padding: 0px; 

  padding-top: 0;

  box-shadow: 0 3px 10px; 
  
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  }
  

 /* Style the header */
header {
  padding-bottom:20px;
  background-color: #c1d4db;
  margin-bottom: 20px;
  border-bottom:solid 2px#484d69;
  border-top: solid 1px #484d69
  }

body {
    font-family:Arial, Helvetica, sans-serif;
    font: normal 16px/1.5 Arial, sans-serif;
    color: #66666A;
    background-color: #ffffff;
    }
  
  

.navitgation {
}
/* The navbar container */
nav
  {
  display: block;
  width: 100%;
  text-align: center;
  padding:15px;
  background-color: none;
  margin:1 px;
 } 
    
  ul { 
    font: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    margin:auto;
    letter-spacing: 0.1em;
    }

.navitgation li
    {  
      margin:auto;
        list-style-type: none;
        padding: 30px;
        display: inline;
        text-align: center;
    
    } 
    /* unvisited link */
  a:link {
    color:#484d69;
    text-decoration:none;
      }

  /* visited link */
  a:visited {
    color:#484d69;
    font-weight:;
      }
  
  /* mouse over link-change color on hover */
  a:hover {
    color:floralwhite;
    background-color: none;
    text-decoration:none;
  }

  /* selected link */
  a.active-page
  {
    background-color:none;
    font-style: italic;
    text-decoration: underline;
  }
    
/* Logo Header */

.header-logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:200%;
  line-height:100px;
  font-weight:;
  text-transform: none;
  letter-spacing: 0.3em;
  text-align:center;
  color: #938e8e;
 
  }
 

.homepage-center {
   margin: auto;
}
/*portfolio-thumbnail images*/
figure img
  {
  width:300 px;
  height: 175px;t
  
 }
     
 footer-text {
  text-align:center;
  margin: auto;
  color: #ffffff;
  font-family:'Times New Roman', Times, serif, sans-serif;
  font-size: 9 px;

}

footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e4e4e4;
  border-top: solid 4px #484d69;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
  padding: 2rem;


.polaroid {
  background-color: #fff;
  padding: 1rem 1rem 4rem;
  box-shadow: 5px 8px 6px 3px #888888;
}

.img-polaroid {
 width:100%;
}


.resume {
  font: 14px Georgia,Times, serif;
  letter-spacing: 0.1em;
}

section {
  display: flex;
  flex-direction:row;
  flex: 1 200px;
  align-content: center;
}


section:nth-of-type(3) {
  flex: 2 200px;
}

.flex-item-left { 
  margin:20px 0 0 200px;

}

.flex-item-right {
  background-color:#f4f3f3;
  font-size: 16px;
  display: inline;
  text-align:left;
  padding: 10px;
  margin: auto auto 100px 40px;
  max-width: 50%;
  position: ;

}
.next row {
  display: block
}
/* List of selected works-Portfolio Page*/ 
section-list {
  align-items: center;
  max-width 100%; 
  padding: 20px;
}
.container {
  display: grid;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
  }
  .container {
  column-count: 2;
  column-width: 350px;
  column-gap: 200px;
  padding: 5px;
  margin: 0 0 1em 0;  }
  .card {
    break-inside: avoid;
    padding: 10px;
    margin: 0 0 1em 0;
    border: none;
  }
/* TWO COLUMN FLEXBOX */
  .two-column div {
    flex:1;
  border:2px solid grey;
  flex-direction:row;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:left;
  
}
 /*list of portfolio examples*/
.li coursework {
display:block;
text-align: center;

}

/* Left column */
.leftcolumn {   
  float: left;
  width: 50%;
  padding:0px 0px 20px 100px;
  margin-top: 5px;
  
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
  background-color: #f1f1f1;
  padding-left: 20px;
  margin-left: 0px 50px 20px 20px;

  .rightcolumn a:link {
    color:#484d69;
    text-decoration:underline;
}
.rightcolumn a:hover {
  color:#d4d5d8;
  background-color: none;
  text-decoration:underline;
}
}

  /* Add a card effect for articles-Portfolio Page */

  .card-portfolio {
  background-color: white;
  padding: 20px;
  margin-top: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }


.portfolio-card a:link {
    color:#484d69;
    text-decoration:underline;
}
.portfolio-card a:hover {
  color:#d4d5d8;
  background-color: none;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
